/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running RDA tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run RDA functionality tests.

    Use as follows:
        nextflow run nf-core/geoadapt -profile test_rda,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '2.h'
    ]
}

params {
    config_profile_name        = 'Test RDA profile'
    config_profile_description = 'Test dataset to check RDA functionality'
    input  = params.pipelines_testdata_base_path + 'test.csv'
    
    // Enable RDA functionality for testing
    rda = true
    vif_threshold = 10
}